In [34]:
import sqlite3
import sqlparse

In [35]:

def check_sql_syntax(sql:str,conn: sqlite3.Connection):
    try:
        parsed = sqlparse.parse(sql)
        try:
            conn.execute("EXPLAIN " + sql)
            return True
        except sqlite3.OperationalError:
            return False
    except SyntaxError:
        return False
    
    # try 
    
    # catch

In [36]:
conn = sqlite3.connect("/home/xubeiyu/projects/MultiTableQA/Data/Olympics/SqlDatabase/olympics.sqlite")
# SELECT id FROM city WHERE city_name = 'Rio de Janeiro'


sql = "SELE#CT id F##ROM city WHERE city_name = 'Rio de Janeiro##'###"
res = check_sql_syntax(sql,conn)

conn.close()
print(res)

False